.carCard {
width: 100%;
min-height: 100vh;
display: flex;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card {
    width: 200px;
    height: 250px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    text-align: center;
    flex-direction: column;
    h1{
        color: white;
    }
    h2{
        color: white;
    }
    p{
        color: white;
    }
    h4{
        color: white;
    }
}