:root {
    --main-color: #0A0F2C;
    --gold: #D4AF37;
    --white: #FFFFFF;
    --smoke-grey: #E5E5E5;
    --Anthracite: #1C1C1C;

}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat.ttf);
}

@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans.ttf);
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url(../fonts/PlayfairDisplay.ttf);
}